
.cartArea {
    background-color: rgba(0,0,0,.2);
    padding: 10px;
    margin: 0.5%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid;
    border-radius: 5px;
    border-width: 0px;
    text-align: center;
}

.cartDesc {
    grid-area: cartDesc;
}

.cartGrid {
    display: grid;
    grid-template-areas: 
        'cartItem';
    gap: 10px;
    padding: 10px;
    margin: 0.5%;
    border: solid;
    border-radius: 5px;
    border-width: 0px;
    text-align: center;
}

.cartItem {
    display: grid;
    grid-template-areas: 
        'cartImage cartDesc cartDesc cartPrice';
    grid-template-columns: 350px 1fr 1fr 100px;
    gap: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color: whitesmoke;
    text-align: center;
}

.cartTitle {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 20px;
}

.cartTitlePrice {
    position: relative;
    margin-right: 1.5%;
}

.cartTitlePrice > h3 {
    font-size: large;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cartDesc {
    text-align: left;
}

.cartPrice {
    text-align: right;
    position: relative;
}

.btnRemoveProduct {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    border: solid;
    border-width: 0px;
    background-color: transparent;
    font-size: xx-large;
}

.removeInfo {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: small;
    margin-right: 5px;
}

.productImage {
    height: 200px;
}

.cartDesc > div > select {
    margin-top: 2px;
}

.quantity {
    width: 75px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
}

.purchaseInfo {
    font-size: small;
    font-style: italic;
    color: red;
}

.cartTotal {
    text-align: right;
    margin-right: 1%;
    margin-bottom: 5px;
    padding-top: 15px;
    border: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color: whitesmoke;
}

.btnCheckout {
    margin-top: 15px;
    margin-right: -10px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: greenyellow;
}

.shoppingDisclaimer {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    text-align: right;    
    font-size: small;
}

.emptyCartDesc {
    text-align: center;
}

.emptyCart {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    border-width: 0px;
    border-radius: 50%;
}
