
/* --Client Page-- */
.title > h1 {
    cursor: pointer;
}

.gridAcc, .gridOrders, .gridBilling, .gridWishlist, .gridSupport {
    text-align: left;
    padding: 10px;
    background-color: rgba(0,0,0,.2);
    border: solid;
    border-width: 0px;
    border-radius: 10px;
}

h4 > a {
    float: right;
}

.gridSupport > h4 > a {
    font-size: xx-large;
}

.clientBtn {
    cursor: pointer;
    border: solid;
    border-width: 0px;
    background-color: transparent;
    color: aqua;
    margin-top: 5px;
}

/* --Client Information Page-- */
.accInfo {
    text-align: left;
    padding: 10px;
    margin: 0.5%;
    background-color: rgba(0,0,0,.2);
    border: solid;
    border-width: 0px;
    border-radius: 10px;
}

.accInfo > div > label {
    margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* --Client Page Media Queries-- */
@media only screen and (max-width: 620px) { 
    .frmClient {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;    
        color: whitesmoke;
    }
    
    .clientGrid {
        display: grid;
        grid-template-areas: 
            'gridAcc' 
            'gridOrders'
            'gridBilling'
            'gridWishlist'
            'gridSupport';
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 187.4px);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }
}

@media only screen and (min-width: 620px) { 
    .frmClient {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;    
        color: whitesmoke;
    }
    
    .clientGrid {
        display: grid;
        grid-template-areas: 
            'gridAcc gridOrders'
            'gridBilling gridWishlist'
            'gridSupport';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 187.4px);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }
}

@media only screen and (min-width: 768px) { 
    .frmClient {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 5%;
        margin-right: 5%;    
        color: whitesmoke;
    }
    
    .clientGrid {
        display: grid;
        grid-template-areas: 
            'gridAcc gridOrders'
            'gridBilling gridWishlist'
            'gridSupport';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 187.4px);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }
}

@media only screen and (min-width: 1120px) { 
    .frmClient {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 10%;
        margin-right: 10%;    
        color: whitesmoke;
    }
    
    .clientGrid {
        display: grid;
        grid-template-areas: 
            'gridAcc gridOrders gridBilling'
            'gridWishlist gridSupport';
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 187.4px);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }
}

/* --Client Information Page Media Queries-- */
@media only screen and (max-width: 600px) { 
    .frmAccInfo {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;    
        color: whitesmoke;
    }

    .btnUpdateSubmit, .btnCancelSubmit {
        cursor: pointer;
        margin-top: 25px;
        margin-bottom: 10px;
        width: 40%;
        height: auto;
        background-color: limegreen;
        border: solid;
        border-width: 0.5px;
        border-radius: 5px;
    }

    .btnCancelSubmit {
        cursor: pointer;
        float: right;
        background-color: burlywood;
    }
}

@media only screen and (min-width: 600px) { 
    .frmAccInfo {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;    
        color: whitesmoke;
    }

    .btnUpdateSubmit, .btnCancelSubmit {
        cursor: pointer;
        margin-top: 25px;
        margin-bottom: 10px;
        width: 40%;
        height: 35px;
        background-color: limegreen;
        border: solid;
        border-width: 0.5px;
        border-radius: 5px;
    }

    .btnCancelSubmit {
        cursor: pointer;
        float: right;
        background-color: burlywood;
    }
}

@media only screen and (min-width: 768px) { 
    .frmAccInfo {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 5%;
        margin-right: 5%;    
        color: whitesmoke;
    }
}

@media only screen and (min-width: 992px) { 
    .frmAccInfo {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 10%;
        margin-right: 10%;    
        color: whitesmoke;
    }
}

@media only screen and (min-width: 1200px) { 
    .frmAccInfo {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 20%;
        margin-right: 20%;    
        color: whitesmoke;
    }
} 
