
/* --about.php-- */
.aboutHeader {
    grid-area: aboutHeader;
}

.aboutInfo {
    grid-area: aboutInfo;
}

.aboutDevHeader {
    grid-area: aboutDevHeader;
}

.aboutDevInfo {
    grid-area: aboutDevInfo;
}

.aboutInfo > p {
    white-space: pre-wrap;
}

.aboutDevHeader {
    border: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aboutDevInfo > p {
    white-space: pre-wrap;
}

.devImage {
    border: solid;
    border-width: 0.1px;
    border-color: burlywood;
    border-radius: 50%;
}

/* --contactUs.php-- */
.contactMap {
    grid-area: contactMap;
}

.contactMapInfo {
    grid-area: contactMapInfo;
}

.socials {
    grid-area: socials;
}

.contactUsGrid > div {
    background-color: rgba(0,0,0,.2);
    border: solid;
    border-radius: 5px;
    border-width: 0px;
    text-align: left;
    padding: 10px;
}

.contact {
    height: fit-content;
}

.contact > div > textarea {
    height: 160px;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    width: 100%;
    height: 600px;
}

.gmap_iframe {
    width: 100%;
    height: 600px;
}

.contact > h4 {
    margin-bottom: 20px;
}

.contact > div > input {
    margin-bottom: 15px;
}

.btnContactUsSubmit {
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 35px;
    background-color: limegreen;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
}

/* --About Page Media Queries-- */
@media only screen and (max-width: 600px) { 
    .frmAbout {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;    
        color: whitesmoke;
    }

    .aboutGrid {
        display: grid;
        grid-template-areas: 
            'aboutHeader aboutHeader aboutHeader'
            'aboutInfo aboutInfo aboutInfo'
            'aboutDevHeader aboutDevHeader aboutDevHeader'
            'aboutDevImage aboutDevImage aboutDevImage'
            'aboutDevInfo aboutDevInfo aboutDevInfo';
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }

    .aboutDevImage {
        grid-area: aboutDevImage;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) { 
    .frmAbout {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;    
        color: whitesmoke;
    }

    .aboutGrid {
        display: grid;
        grid-template-areas: 
            'aboutHeader aboutHeader aboutHeader'
            'aboutInfo aboutInfo aboutInfo'
            'aboutDevHeader aboutDevHeader aboutDevHeader'
            'aboutDevImage aboutDevImage aboutDevImage'
            'aboutDevInfo aboutDevInfo aboutDevInfo';
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }

    .aboutDevImage {
        grid-area: aboutDevImage;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) { 
    .frmAbout {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 5%;
        margin-right: 5%;    
        color: whitesmoke;
    }

    .aboutGrid {
        display: grid;
        grid-template-areas: 
            'aboutHeader aboutHeader aboutHeader'
            'aboutInfo aboutInfo aboutInfo'
            'aboutDevHeader aboutDevHeader aboutDevHeader'
            'aboutDevImage aboutDevImage aboutDevImage'
            'aboutDevInfo aboutDevInfo aboutDevInfo';
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }

    .aboutDevImage {
        grid-area: aboutDevImage;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) { 
    .frmAbout {
        text-align: left;
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 10%;
        margin-right: 10%;    
        color: whitesmoke;
    }

    .aboutGrid {
        display: grid;
        grid-template-areas: 
            'aboutHeader aboutHeader aboutHeader'
            'aboutInfo aboutInfo aboutInfo'
            'aboutDevHeader aboutDevHeader aboutDevHeader'
            'aboutDevImage aboutDevInfo aboutDevInfo';
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }
}

/* --Contact Us Page Media Queries-- */
@media only screen and (max-width: 600px) { 
    .frmContact {
        text-align: left;
        padding: 1px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;    
        color: whitesmoke;
    }

    .contactUsGrid {
        display: grid;
        grid-template-areas: 
            'contactMap contactMap '
            'contact contact' 
            'contactMapInfo offices'
            'socials socials';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }

    .contact {
        grid-area: contact;
    }

    .socialsGrid {
        display: grid;
        grid-template-areas: 
            'socialsIcon socialsIcon socialsIcon socialsIcon';
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        margin-left: 10%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
    }
    
    .socialsIcon {
        cursor: pointer;
        width: 50%;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 600px) { 
    .frmContact {
        text-align: left;
        padding: 1px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;    
        color: whitesmoke;
    }

    .contactUsGrid {
        display: grid;
        grid-template-areas: 
            'contactMap contactMap '
            'contact contact' 
            'contactMapInfo offices'
            'socials socials';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }

    .contact {
        grid-area: contact;
    }

    .socialsGrid {
        display: grid;
        grid-template-areas: 
            'socialsIcon socialsIcon socialsIcon socialsIcon';
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        margin-left: 10%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
    }
    
    .socialsIcon {
        cursor: pointer;
        width: 50%;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 768px) { 
    .frmContact {
        text-align: left;
        padding: 1px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 5%;
        margin-right: 5%;    
        color: whitesmoke;
    }

    .contactUsGrid {
        display: grid;
        grid-template-areas: 
            'contactMap contactMap contactMap '
            'contactMapInfo contact contact' 
            'offices socials socials';
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }

    .contact {
        grid-area: contact;
    }

    .socialsGrid {
        display: grid;
        grid-template-areas: 
            'socialsIcon socialsIcon socialsIcon socialsIcon';
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        margin-left: 10%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
    }
    
    .socialsIcon {
        cursor: pointer;
        width: 50%;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 992px) { 
    .frmContact {
        text-align: left;
        padding: 1px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 5%;
        margin-right: 5%;    
        color: whitesmoke;
    }

    .contactUsGrid {
        display: grid;
        grid-template-areas: 
            'contactMap contactMap contact'
            'contactMap contactMap offices'
            'contactMapInfo socials socials';
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: left;
    }

    .offices {
        height: fit-content;
        white-space: pre-wrap;
    }
}

@media only screen and (min-width: 1200px) { 
    .frmContact {
        text-align: left;
        padding: 1px;
        background-color: rgba(0,0,0,.2);
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        margin: 0.5%;
        margin-left: 10%;
        margin-right: 10%;    
        color: whitesmoke;
    }
}
