
.home {    
    background-size: cover; 
    background-position: center;   
    background-repeat: no-repeat;
}

.title {
    grid-area: title;
    text-align: center;
}

.btnCompanyTitle {
    cursor: pointer;
    border: solid;
    border-width: 0;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bold;
}

.title > h1 {
    cursor: pointer;
}

.titleSearch {
    grid-area: titleSearch;
    text-align: right;
    padding-top: 7.5px;
    padding-right: 0;
}

.titleButtons {
    grid-area: titleButtons;
    text-align: right;
    padding-top: 7.5px;
}

.titleButtons > label {
    margin-left: 10px;
    margin-right: 15px;
}

.navigation {
    grid-area: navigation;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}

.navSearch {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    font-style: italic;
    padding-left: 5px;
    width: 500px;
    height: 40px;
    padding-left: 10px;
}

.navSearchBtn {
    cursor: pointer;
    border: solid;
    border-width: 0.1px;
    border-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: yellow;
    color: whitesmoke;
    height: 40px;
    margin-left: -40.5px;
    margin-right: 20px;
}

.navBtn, .btnAccInfo {
    cursor: pointer;
    border: solid;
    border-width: 0px;
    background-color: transparent;
    color: whitesmoke;
    height: 40px;
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}

.btnAccInfo {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    background-color: aliceblue;
}

.dropdown-item {
    cursor: pointer;
}

.slideshow {
    grid-area: slideshow;
}

.headerTitle {
    grid-area: headerTitle;
}

.slideshow {
    height: 400px;
}

.headerTitle {
    grid-area: headerTitle;
    text-align: left;
    padding-left: 2.5%;
    margin: 0;
}

.carousel {
    cursor: pointer;
    text-align: center;
    height: 400px;
    background-color: rgba(0,0,0,.4);
    border: solid;
    border-radius: 5px;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.carouselImage {
    height: 390px;
}

.btnCategory {
    cursor: pointer;
    width: 320px;
    height: 320px;
    border: solid;
    margin-top: 5%;
    margin-bottom: 5%;
    border-width: 0px;
    border-radius: 10px;
    border-color: black;
    font-size: larger;
    color: aliceblue;
    text-align: left;
    background-position: center;
    background-color: black;
    background-size: contain;
}

.footerGrid {
    display: grid;
    grid-template-areas: 
        'footerBackToTop'
        'footerActions'
        'footerCreatedBy';
    gap: 10px;
    background-color: black;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
}

.footerBackToTop {
    cursor: pointer;
    padding-top: 10px;
}

.footerBackToTop > h4 {
    font-size: large;
}

.footerActions {
    border: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerCreatedBy {
    padding-top: 10px;
    padding-bottom: 10px;
}

.signInHeader, .registrationHeader {
    cursor: pointer;
    background-image: url('../images/startUp.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.signInMain, .registrationMain {
    text-align: left;
    padding: 10px;
    background-color: rgba(0,0,0,.3);
    border: solid;
    border-width: 0px;
    border-radius: 10px;
}

.signInMain > div > input {
    margin-bottom: 5px;
    margin-top: -3px;
}

.btnSignInSubmit, .btnRegistationSubmit, .btnForgotPasswordSubmit {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    background-color: limegreen;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
}

.signInMain > div > p {
    margin-top: 5px;
    font-size: small;
    padding-left: 5px;
}

.signInMain > div > p > a {
    color: lightblue;
    cursor: pointer;
}

.btnForgotPassword {
    color: lightblue;
    font-size: small;
    padding-left: 5px;
    border: solid;
    border-width: 0px;
    background-color: transparent;
}

.registerInfo, .signInInfo, .forgotInfo {
    font-size: large;
    color: grey;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.forgotInfo {
    color: whitesmoke;
    text-align: center;
    margin-top: 15px;
}

.signInRegister, .registrationSignIn {
    text-align: left;
    padding: 10px;
    background-color: rgba(0,0,0,.3);
    border: solid;
    border-width: 0px;
    border-radius: 10px;
}

.btnSignInCreate, .btnRegistrationSignIn {
    width: 100%;
    height: 35px;
    background-color: burlywood;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
}

.signInFooter {
    text-align: center;
}

.passwordInfo {
    font-size: smaller;
    font-style: italic;
    padding-left: 5px;
}

.registrationMain > div > input {
    margin-bottom: 5px;
    margin-top: -3px;
}

.registrationMain > div > p {
    margin-top: 5px;
    font-size: small;
}

.registrationMain > div > p > a {
    color: lightblue;
    cursor: pointer;
}

.navbar {
    border: solid;
    border-width: 0px;
    border-radius: 10px;
    color: black;
}

.btnAbout, .btnContactUs {
    background-color: transparent;
    color: whitesmoke;
    width: 100px;
    cursor: pointer;
}

hr {
    background-color: whitesmoke;
    width: 100%;
}

.footerInfo {
    padding-bottom: 10px;
}

/* --Header Media Queries */
@media only screen and (max-width: 600px) { 
    .headerGrid {
        display: grid;
        grid-template-areas: 
            'title'
            'titleButtons'
            'titleSearch'
            'navigation';
        gap: 10px;
        background-color: black;
        padding: 10px;
        color: whitesmoke;
    }
    
    .title {
        padding-top: 5%;
    }
}

@media only screen and (min-width: 600px) {
    .headerGrid {
        display: grid;
        grid-template-areas: 
            'title'
            'titleButtons'
            'titleSearch'
            'navigation';
        gap: 10px;
        background-color: black;
        padding: 10px;
        color: whitesmoke;
    }

    .title {
        padding-top: 5%;
    }
}

@media only screen and (min-width: 768px) { 
    .headerGrid {
        display: grid;
        grid-template-areas: 
            'title titleButtons'
            'title titleSearch'
            'navigation navigation';
        gap: 10px;
        background-color: black;
        padding: 10px;
        color: whitesmoke;
    }
}

@media only screen and (min-width: 992px) { 
    .headerGrid {
        display: grid;
        grid-template-areas: 
            'title titleButtons'
            'title titleSearch'
            'navigation navigation';
        gap: 10px;
        background-color: black;
        padding: 10px;
        color: whitesmoke;
    }
}

@media only screen and (min-width: 1200px) { 
    .headerGrid {
        display: grid;
        grid-template-areas: 
            'title titleButtons'
            'title titleSearch'
            'navigation navigation';
        gap: 10px;
        background-color: black;
        padding: 10px;
        color: whitesmoke;
    }
}

@media only screen and (min-width: 1315px) { 
    .headerGrid {
        display: grid;
        grid-template-areas: 
            'title titleSearch titleButtons' 
            'navigation navigation navigation';
        grid-template-columns: 400px 1fr 350px;
        gap: 10px;
        background-color: black;
        padding: 10px;
        color: whitesmoke;
    }

    .title {
        padding-top: 0;
    }
}

/* --Main Area Media Queries-- */
@media only screen and (max-width: 600px) { 
    .mainGrid {
        display: grid;
        grid-template-areas: 
            'slideshow slideshow slideshow slideshow'
            'headerTitle headerTitle headerTitle headerTitle'
            'item item item item';
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        background-color: rgba(0,0,0,.3);
        padding: 10px;
        margin: 0.5%;
        margin-left: 10%;
        margin-right: 10%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) { 
    .mainGrid {
        display: grid;
        grid-template-areas: 
            'slideshow slideshow'
            'headerTitle headerTitle'
            'item item';
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        background-color: rgba(0,0,0,.3);
        padding: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
    }

    .categoryName {
        color: whitesmoke;
        font-size: x-large;
        font-weight: bold;
        margin-top: -55px;
        text-align: left;
        padding-left: 30px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

@media only screen and (min-width: 768px) { 
    .mainGrid {
        display: grid;
        grid-template-areas: 
            'slideshow slideshow'
            'headerTitle headerTitle'
            'item item';
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        background-color: rgba(0,0,0,.3);
        padding: 10px;
        margin: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
    }

    .categoryName {
        color: whitesmoke;
        font-size: x-large;
        font-weight: bold;
        margin-top: -65px;
        text-align: left;
        padding-left: 115px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

@media only screen and (min-width: 1120px) { 
    .mainGrid {
        display: grid;
        grid-template-areas: 
            'slideshow slideshow slideshow'
            'headerTitle headerTitle headerTitle'
            'item item item';
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        background-color: rgba(0,0,0,.3);
        padding: 10px;
        margin: 0.5%;
        margin-left: 5%;
        margin-right: 5%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
    }

    .categoryName {
        color: whitesmoke;
        font-size: x-large;
        font-weight: bold;
        margin-top: -55px;
        text-align: left;
        padding-left: 30px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

@media only screen and (min-width: 1250px) { 
    .mainGrid {
        display: grid;
        grid-template-areas: 
            'slideshow slideshow slideshow'
            'headerTitle headerTitle headerTitle'
            'item item item';
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        background-color: rgba(0,0,0,.3);
        padding: 10px;
        margin: 0.5%;
        margin-left: 10%;
        margin-right: 10%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
    }

    .categoryName {
        color: whitesmoke;
        font-size: x-large;
        font-weight: bold;
        margin-top: -60px;
        text-align: left;
        padding-left: 65px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
} 

@media only screen and (min-width: 1670px) { 
    .mainGrid {
        display: grid;
        grid-template-areas: 
            'slideshow slideshow slideshow slideshow'
            'headerTitle headerTitle headerTitle headerTitle'
            'item item item item';
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        background-color: rgba(0,0,0,.3);
        padding: 10px;
        margin: 0.5%;
        margin-left: 10%;
        margin-right: 10%;
        border: solid;
        border-radius: 5px;
        border-width: 0px;
        text-align: center;
    }

    .categoryName {
        color: whitesmoke;
        font-size: x-large;
        font-weight: bold;
        margin-top: -55px;
        text-align: left;
        padding-left: 35px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

/* --Start Up Pages Media Queries-- */

@media only screen and (max-width: 600px) { 
    .signInGrid, .registrationGrid {
        display: grid;
        grid-template-areas: 
            'signInHeader'
            'signInMain'
            'signInRegister';
        gap: 10px;
        background-color: rgba(0,0,0,.2);
        padding: 10px;
        padding-bottom: 5px;
        color: whitesmoke;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        border: solid;
        border-width: 0px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 600px) { 
    .signInGrid, .registrationGrid {
        display: grid;
        grid-template-areas: 
            'signInHeader'
            'signInMain'
            'signInRegister';
        gap: 10px;
        background-color: rgba(0,0,0,.2);
        padding: 10px;
        padding-bottom: 5px;
        color: whitesmoke;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        border: solid;
        border-width: 0px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 992px) { 
    .signInGrid, .registrationGrid {
        display: grid;
        grid-template-areas: 
            'signInHeader'
            'signInMain'
            'signInRegister';
        gap: 10px;
        background-color: rgba(0,0,0,.2);
        padding: 10px;
        padding-bottom: 5px;
        color: whitesmoke;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        border: solid;
        border-width: 0px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1400px) { 
    .signInGrid, .registrationGrid {
        display: grid;
        grid-template-areas: 
            'signInHeader'
            'signInMain'
            'signInRegister';
        gap: 10px;
        background-color: rgba(0,0,0,.2);
        padding: 10px;
        padding-bottom: 5px;
        color: whitesmoke;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        border: solid;
        border-width: 0px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1670px) { 
    .signInGrid, .registrationGrid {
        display: grid;
        grid-template-areas: 
            'signInHeader'
            'signInMain'
            'signInRegister';
        gap: 10px;
        background-color: rgba(0,0,0,.2);
        padding: 10px;
        padding-bottom: 5px;
        color: whitesmoke;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 33.3%;
        margin-right: 33.3%;
        width: 33.3%;
        border: solid;
        border-width: 0px;
        border-radius: 10px;
    }
}
