<!DOCTYPE html>
<html>    
    <head>
        <title>Cricker Direct Password Assistance</title>

        <meta charset="UTF-8">
        <meta name="description" content="Online Store Project">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Martin Louw">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type='module' src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel='stylesheet' type='text/css' href='../css/landingPage.css'>			
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">	
        <script src='../functions/forgotPassword.js' defer></script>
    </head>
    <body>
        <div id="app">
            <form id="frmForgotPasswordGrid" class='signInGrid'>
                <header class='frmSignIn'>
                    <div class='signInHeader'>
                        <h1 @click="navigateToLandingPage()">Cricket Direct</h1>
                    </div>
                </header>
                <main>               
                    <div class='signInMain'>
                        <div>
                            <h2>Password Assistance</h2>
                        </div>
                        <div>
                            <p>
                                Please enter the email associated with your account.
                            </p>
                        </div>
                        <div>
                            <label>Email:</label>
                        </div>
                        <div>
                            <input type='email' id='forgotEmail' v-model="newInstance.email" class='form-control'>
                        </div>
                        <div>
                            <label>Date of Birth:</label>
                        </div>
                        <div>
                            <input type='date' id='forgotDoB' v-model="newInstance.dob" class='form-control'>
                        </div>
                        <div>
                            <button type="button" id='btnForgotPasswordSubmit' @click="validateUserData();" class='btnForgotPasswordSubmit'>Continue</button>
                        </div>
                        <div class='forgotInfo'>
                            <label>--- Still Unable to Access your Account? ---</label>
                        </div>
                        <div>
                            <p>
                                If you can't remember your email or you are no longer using the email associated with your account, please contact our <a>Customer Service</a> for assistance with restoring access to your account.
                            </p>
                        </div>
                    </div>              
                </main>
            </form>	
            <footer class='signInFooter'>
                &copy; Created by Pepega
            </footer>
        </div>
	</body>
</html>