<!DOCTYPE html>
<html>
	<head>
		<title>Product</title>

		<script type='module' src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel='stylesheet' type='text/css' href='../css/landingPage.css'>
		<link rel='stylesheet' type='text/css' href='../css/product.css'>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
        <script src='../functions/product.js' defer></script>
    </head>
	<body>
        <div id="app">
            <header>
                <form class='headerGrid'>
                    <div class='title'>
                        <h1 @click="navigateToLandingPage()" class='btnCompanyTitle'>CRICKET DIRECT</h1>
                    </div>
                    <div class='titleButtons'>
                        <input type='text' id="searchItem" placeholder='Search' class='navSearch'>
                        <button type="button" @click="performSearch();" class='navSearchBtn'>&#128269</button>
                        <button type="button" id='btnAccInfo' name='btnAccInfo' v-if="displayUser" @click="navigateToClient()" class='btnAccInfo'>&#128100</button><label>{{ userName }}</label>
                        <button type="button" id='btnSignIn' name='btnSignIn' v-if="displaySignIn" @click="navigateToSignIn()" class='navBtn'>Sign In</button>
                        <button type="button" id='btnCart' name='btnCart' @click="navigateToCart()" class='navBtn'>&#128722</button>
                        <button type="button" id='btnSignIn' name='btnSignIn' v-if="displayLogOut" @click="userLogOut()" class='navBtn'>Log Out</button>					
                    </div>

                    <div id="headerDropdown" class='navigation'>
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#">Home</a>-->

                            <div id="navbarToggler" class="collapse navbar-collapse">
                                <ul id="navbarDropdown" class="navbar-nav mr-auto mt-2 mt-lg-0">                                
                                    <div v-for="categories in categoryList">
                                        <!-- Create Dropdown Here -->		
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ categories.product_category_name }}
                                            </a>                                           
                                                                                       
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <div v-for="brands in brandList[ categories.product_category_id - 1 ]">
                                                    <a class="dropdown-item" @click="selectBrand(categories, brands); navigateToProduct();">{{ brands.product_brand_name }}</a>                                                                                                    
                                                </div>                                                                                        
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </form>		
            </header>
            <main>
                <form class='productGrid'>
                    <div class='productTitle'>
                        <h2>Results</h2>
                    </div>
                    <button type="button" v-for="product in productList" :id="product.product_id" @click="selectedProduct(product); navigateToSelectedProduct();" class='productItem'>
                        <div class='productImage'>
                            <img src='https://www.firstbenefits.org/wp-content/uploads/2017/10/placeholder.png' class='productImageDisplay'>
                        </div>
                        <div class='productName'>
                            <h3>{{ product.product_name }}</h3>
                        </div>
                        <div class='productBrand'>
                            <h4>{{ product.product_brand_name }}</h4>
                        </div>
                        <div class='productDesc'>
                            <p>{{ product.product_description }}</p>
                        </div>
                        <div class='productPrice'>
                            R {{ product.product_price }}
                        </div> 
                    </button>                    
                </form>
                <div class='productHelp'>
                    <div>
                        <h3>&#128712; NEED ASSISTANCE?</h3>
                    </div>
                    <div class='productHelpDesc'>
                        <p>Please visit our <a>Help</a> or <a>Contact Us</a> section</p>
                    </div>
                </div>
            </main>
            <footer class='footerGrid'>
                <div @click="scrollTop();" class="footerBackToTop">
                    <h4>&#129045; Back To Top &#129045;</h4>
                </div>
                <div class="footerActions">
                    <button type="button" id='btnAbout' name='btnAbout' @click="navigateToAbout()" class='btnAbout'>About</button>
                    <button type="button" id='btnContactUs' name='btnContactUs' @click="navigateToContactUs()" class='btnContactUs'>Contact Us</button>
                </div>
                <div class='footerCreatedBy'>
                    &copy; Created by Martin Louw
                </div>			
            </footer>
        </div>
	</body>
</html>